$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Noto Sans JP",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFontWeight: 100;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 300;

  a {
    color: inherit;
  }
  max-width: 600px;
  margin: auto;
  border-left: dotted 2px #aaa;
  border-right: dotted 2px #aaa;
  padding: 20px;
}

.thin {
  font-weight: 100;
}

.title {
  font-size: 2rem;
}

.book-cover {
  width: 300px;
}
